@font-face{
    font-family: SaarSPDemo;
    src: url("font/SaarSPDemo.otf");
}
body{
    margin:0 auto;
}
header {
    width: 100%;
    height: 100px;
    background:#03A9F4;
    z-index: 100;
}
header h4{
    color: white;
}
.header_container{
    height: 100px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site_name a{
    font-family: SaarSPDemo;
    font-size:40px;
    line-height: 5px;
    text-decoration: none;
}
.buildings a{
    font-family: SaarSPDemo;
    font-size: 40px;
    text-decoration: none;
}
.history_head a{
    font-family: SaarSPDemo;
    font-size: 40px;
    text-decoration: none;
}
.about_us a{
    font-family: SaarSPDemo;
    font-size: 40px;
    text-decoration: none;
}
.Build_list {
    width: 100px;
    hight: 40px;
}
.title{
    transform: translate(0px,30px);
    text-align: center;
    font-size: 25px;
    font-family: SaarSPDemo;
    z-index: 1;
}
.imgs {
    position: absolute;
    top: 290px;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 800px;
    z-index: 2;
}
.imgs p{
    text-align: center;
    font-size: 24px;
    color: #03A9F4;
    transform: translate(0px,-10px);
}
.imgs a{
    text-decoration: none;
}
.img1{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img2{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img3{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img4{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img5{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img6{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img7{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
.img8{
    width: 350px;
    height: 238px;
    box-sizing: border-box;
    border-radius: 35px;
}
